@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    -webkit-appearance: none; /* Chrome / Safari */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* 標準 */
    background: none;         /* 念のため背景アイコン消す */
    }

    
    .product-name-text {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap; /* 折り返し禁止 */
    }

