@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    -webkit-appearance: none; /* Chrome / Safari */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* 標準 */
    background: none;         /* 念のため背景アイコン消す */
    }

    
    .product-name-text {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap; /* 折り返し禁止 */
    }

    .company-name-text {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap; /* 折り返し禁止 */
    }

    .form__error {
        height: 10px;
        font-size: 0.9rem;
        color: #ff0026;
        line-height: 1.25rem;
        margin-top: 1px;
        visibility: hidden;
    }
    
    .form__error:empty {
        display: block; /* 高さを維持 */
    }
    
    .form__error:not(:empty) {
        visibility: visible;
    }
